/*
Font size 12px to all tags of class .info
Text color #00FF00 to all tags of class .success and extend style of the class .info
Text color #FF0000 to all tags of class .warning and extend style of the class .info
*/
$font-px: 12px;
$font-color: #00FF00;
$font-color: #FF0000;

.info {
    font-size: $font-px; }
  
.success {
    @extend .info;
    color: $font-color; }
  
.warning {
    @extend .info;
    color: $font-color; }
