/*
Font size 12px to all tags of class .info
Text color #00FF00 to all tags of class .success and extend style of the class .info
Text color #FF0000 to all tags of class .warning and extend style of the class .info
*/
$font-size:12px;
$font-size1:#00FF00;
$font-size3:#FF0000;

.info {
    font-size: $font-size; }
  
  .success {
    @extend .info;
    color: $font-size1; }
  
  .warning {
    @extend .info;
    color: $font-size3; }
